/*
	wrapper
*/

.wrapper {
	min-height:100%;
	position:relative;
	width:100%;   
}

/*
	filtros
*/

.filtros {
	background:#ff7f00;
	box-shadow:0 2px 5px #000;
	-moz-box-shadow:0 2px 5px #000;
	-webkit-box-shadow:0 2px 5px #000; 
	height:300px; 
	position:absolute; 
	width:100%;
	z-index:2;
}

/*
	menu
*/

nav {
	background:#ff7f00;
	box-shadow:0 2px 5px #000;
	-moz-box-shadow:0 2px 5px #000;
	-webkit-box-shadow:0 2px 5px #000;
	height:50px; 
	position:relative; 
	width:100%;
	z-index:3;
}

nav ul {
	margin:0 auto;
	width:960px;
}

nav ul li {
	display:inline;
	float:left;
}

nav ul li:hover {
	background:#000;
	opacity:0.5;
	-moz-opacity:0.5;
}

nav ul li a {
	color:#fff;
	float:left;
	font-size:16px;
	padding:17px;
	text-shadow:2px 2px 3px #000;
}

nav ul li.abre-filtro {
	background:#000;
	float:right;
	height:90px;
	width:200px;
}

nav ul li.abre-filtro a {
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

nav ul li.abre-filtro a img {
	margin:0 50px 20px 50px;
}

/*
	header
*/

header {
	background:#402000;
	box-shadow:0 2px 5px #000;
	-moz-box-shadow:0 2px 5px #000;
	-webkit-box-shadow:0 2px 5px #000;
	height:150px;
	margin:0 auto;
	width:100%;
}

header .header-inner {
	margin:0 auto;
	width:960px;
}

header .header-inner h1 {
	float:left;
	margin:10px 0;
}

/*
	slogan
*/

header .header-inner h2 {
	color:#fff;
	float:left;
	font-size:23px;
	margin:85px 0 0 30px;
	text-shadow:1px 1px 3px #000;
}

/* 
	search 
*/

header .header-inner form.search {
	background:#fff;
	float:right;
	margin:40px 0 0 0;
	padding:5px;
}

header .header-inner form.search input[type="text"] {
	background:#fff;
	border:none;
	border:0;
	color:#666;
	float:left;
	padding:0 5px;
	width:160px;
}

header .header-inner form.search input[type="submit"] {
	background:url(../imagens/others/lupa.jpg) no-repeat;
	border:none;
	border:0;
	float:left;
	height:20px;
	width:21px;
}

/*
	content
*/

.content {
	margin:20px auto;
	padding:0 0 220px 0;
	width:960px;
}

/*
	submenu
*/

.content nav {
	background:#e4e4e4;
	box-shadow:0 2px 5px #000;
	-moz-box-shadow:0 2px 5px #000;
	-webkit-box-shadow:0 2px 5px #000;
	float:left;
	height:50px; 
	margin:20px 0;
	position:relative; 
	width:100%;
	z-index:1;
}

.content nav ul {
	margin:0 auto;
	padding:0 0 0 10px;
	width:950px;
}

.content nav ul li {
	display:inline;
	float:left;
	padding:12px 3px;
	margin:5px 0;
}

.content nav ul li:hover {
	background:#fff;
	opacity:1;
	-moz-opacity:1;
}

.content nav ul li.division:hover {
	background:none;
	opacity:1;
	-moz-opacity:1;
}

.content nav ul li a {
	color:#000;
	float:left;
	font-size:15px;
	padding:0;
	text-shadow:none;
}

.content nav ul li a:hover {
	text-decoration:underline;
}

/*
	section
*/

section {
	float:left;
	margin:0 0 20px 0;
	width:100%;
}

section h2 {
	border-bottom:2px solid #402000;
	color:#402000;
	font-size:18px;
	font-weight:bold;
	margin:20px 0 40px 0;
	padding:0 0 20px 0;
	width:100%;
}

section h3 {
	background:#f9f9f9;
	border:1px solid #999;
	color:#666;
	font-size:16px;
	font-weight:bold;
	margin:20px 0 20px 0;
	padding:10px;
	width:938px;
}

section p {
	color:#666;
	font-size:14px;
	margin:20px 0 20px 0;
}

section a {
	color:#666;
	font-weight:bold;
}

section a.voltar {
	border-top:1px solid #666;
	color:#666;
	float:left;
	font-weight:bold;
	padding:20px 0 0 0;
	width:960px;
}

section a:hover {
	text-decoration:underline;
}

section ul {
	float:left;
	margin:20px 0 0 0;
}

section ul li {
	box-shadow:0 0 5px #000;
	-moz-box-shadow:0 0 5px #000;
	-webkit-box-shadow:0 0 5px #000;
	float:left;
	height:140px;
	margin:0 20px 0 0;
	width:176px;
}

section ul li:last-child {
	margin:0 0 0 0;
}

/*
	box slider
*/

.boxgrid {
	background:#fff; 
	border:0; 
	float:left; 
	height:140px; 
	margin:0 0 0 0; 
	overflow:hidden; 	
	position:relative; 
	width:176px;
}

.boxgrid img {
	margin:10px; 
}

.caption .boxcaption {
	top:110px; 
	left:0
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	.caption .boxcaption {
		top:110px; 
		left:0
	}
}

.boxcaption {
	background:#400000; 
	float:left; 
	height:150px;
	opacity:0.9;
	position:absolute;  
	width:100%;
}

.boxcaption-castrar{
	background:#d9a300; 
}

.boxcaption-divulgar{
	background:#000040; 
}

.boxcaption-ajudar{
	background:#004010; 
}

.boxcaption-denunciar{
	background:#000; 
}

.boxcolor {
	height:140px; 
	padding:7px 0; 
	width:176px;
}

.boxcolor a {
	background:none; 
	color:#4e4e4d; 
	cursor:pointer; 
	float:none; 
	margin:0 0 0 0; 
	padding-left:0; 
	text-decoration:none;
}

.boxcolor a:hover {
	text-decoration:underline;
}

.boxcolor a h3 {
	background:none;
	border:0;
	border:none;
	color:#fff; 
	float:left; 
	font-size:20px; 
	font-weight:normal; 
	height:20px; 
	margin:0 0 0 0;
	padding:0 0 0 0; 
	text-align:center; 
	text-shadow:1px 1px 1px #000; 
	width:176px;
}

.boxcolor a p {
	color:#fff; 
	float:left; 
	font-size:12px; 
	font-weight:normal; 
	line-height:100%; 
	margin:5% 0 0 10px; 
	text-align:center; 
	width:156px;
}

/*
	aside
*/

aside {
	background:#f1f1f1;
	box-shadow:0 0px 5px #000;
	-moz-box-shadow:0 0px 5px #000;
	-webkit-box-shadow:0 0px 5px #000;
	float:right;
	height:244px;
	padding:10px;
	width:440px;
}

aside h3 {
	color:#402000;
	float:left;
	font-size:16px;
	font-weight:bold;
	padding:0 0 5px 0;
	text-decoration:underline;
	width:440px;
}

/* 
	news 
*/

aside form.news {
	background:#fff;
	float:left;
	margin:10px 0;
	padding:5px;
}

aside form.news input[type="text"] {
	background:#fff;
	border:none;
	border:0;
	color:#666;
	float:left;
	padding:0 5px;
	width:389px;
}

aside form.news input[type="submit"] {
	background:none;
	border:none;
	border:0;
	color:#402000;
	float:left;
	font-weight:bold;
	height:20px;
	width:31px;
}

/*
	footer
*/

footer {
	background:#402000;
	box-shadow:0 -2px 5px #000;
	-moz-box-shadow:0 -2px 5px #000;
	-webkit-box-shadow:0 -2px 5px #000;
	bottom:0;
	height:200px;
	margin:0 auto;
	position:absolute;
	width:100%;
}

/*
	footer-inner
*/

footer .footer-inner {
	height:165px;
	margin:0 auto;
	padding:35px 0 0 0;
	width:960px;
}

footer .footer-inner a img {
	float:left;
}

footer .footer-inner a img:hover {
	background:url(../imagens/logo/logo-footer-hover.png);
}

/*
	menu footer
*/

footer .footer-inner nav {
	background:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	height:auto;
	float:left;
	width:auto
}

footer .footer-inner nav ul {
	margin:0;
	width:auto;
}

footer .footer-inner nav ul li {
	margin:0 0 0 25px;
}

footer .footer-inner nav ul li:hover {
	background:none;
}

footer .footer-inner nav ul li a {
	padding:0 0 7px 0;
}

footer .footer-inner nav ul li a:hover,
footer .footer-inner nav ul li a:active {
	text-decoration:underline;
}

/*
	slogan
*/

footer .footer-inner h2 {
	color:#fff;
	float:left;
	font-size:20px;
	margin:25px 0 0 90px;
	text-shadow:1px 1px 3px #000;
}

footer .footer-inner p {
	color:#fff;
	float:left;
	font-size:12px;
	margin:25px 90px 0;
	padding:5px 80px;
	text-align:center;
}

footer .footer-inner ul.share {
	float:right;
	margin:40px 0 0 0;
}

footer .footer-inner ul.share li {
	box-shadow:0 0 5px 5px #fff;
	-moz-box-shadow:0 0 5px 5px #fff;
	-webkit-box-shadow:0 0 5px 5px #fff;
	display:inline;
	float:left;
	margin:0 0 0 10px;
}